@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    background-color: black;
    color: yellow;
}
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    font-family: "Nunito", cursive;
    text-align: center;
}
#cellContainer{
    display: grid; 
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
#restartBtn{
    background-color: yellow;
    color: black;
    font-family: "Shadows Into Light", cursive;
    border-color: yellow;
    padding: 10px;
    font-size: medium;
}
